.sass_cache
.sass-cache
dependency-reduced-pom.xml
dist
.DS_Store
*.swp
*~
.classpath
.project
.settings
target
*.iml
*.ipr
*.iws
*.log
*.pxm
.idea
.ideamodules
.DS*

/.metadata/
/.recommenders/
./nyhende-server/databases/*
